<ion-grid class="footer_wrapper">
    <ion-row class="footer_container">
        <ion-row class="justify-between w-full border-b border-gray-200">
            <ion-row class="about_section">
                <ion-text class="text-lg font-medium mb-4">
                    Company
                </ion-text>

                <ion-row class="aboutSection_contents space-y-1">
                    <ion-text>
                        About Us
                    </ion-text>
                    <ion-text>
                        Careers
                    </ion-text>
                    <ion-text>
                        Services
                    </ion-text>
                    <ion-text>
                        Contact US
                    </ion-text>
                    <ion-text>
                        Terms & Conditions
                    </ion-text>
                </ion-row>
            </ion-row>

            <ion-row class="resources_section">
                <ion-text class="text-lg font-medium mb-4">
                    Resources
                </ion-text>

                <ion-row class="aboutSection_contents space-y-1">
                    <ion-text>
                        Data Intelligence
                    </ion-text>
                    <ion-text>
                        Square Yards Reviews
                    </ion-text>
                    <ion-text>
                        Real Estate Guide
                    </ion-text>
                    <ion-text>
                        Media Coverage
                    </ion-text>
                    <ion-text>
                        Cities Real Estate

                    </ion-text>
                    <ion-text>
                        Glossary
                    </ion-text>
                </ion-row>
            </ion-row>

            <ion-row class="resources_section">
                <ion-text class="text-lg font-medium mb-4">
                    Resources
                </ion-text>

                <ion-row class="aboutSection_contents space-y-1">
                    <ion-text>
                        Data Intelligence
                    </ion-text>
                    <ion-text>
                        Square Yards Reviews
                    </ion-text>
                    <ion-text>
                        Real Estate Guide
                    </ion-text>
                    <ion-text>
                        Media Coverage
                    </ion-text>
                    <ion-text>
                        Cities Real Estate
                    </ion-text>
                    <ion-text>
                        Glossary
                    </ion-text>
                </ion-row>
            </ion-row>

            <ion-row class="resources_section">
                <ion-text class="text-lg font-medium mb-4">
                    Resources
                </ion-text>

                <ion-row class="aboutSection_contents space-y-1">
                    <ion-text>
                        Data Intelligence
                    </ion-text>
                    <ion-text>
                        Square Yards Reviews
                    </ion-text>
                    <ion-text>
                        Real Estate Guide
                    </ion-text>
                    <ion-text>
                        Media Coverage
                    </ion-text>
                    <ion-text>
                        Cities Real Estate
                    </ion-text>
                    <ion-text>
                        Glossary
                    </ion-text>
                </ion-row>
            </ion-row>

            <ion-row class="resources_section">
                <ion-text class="text-lg font-medium mb-4">
                    Resources
                </ion-text>

                <ion-row class="aboutSection_contents space-y-1">
                    <ion-text>
                        Data Intelligence
                    </ion-text>
                    <ion-text>
                        Square Yards Reviews
                    </ion-text>
                    <ion-text>
                        Real Estate Guide
                    </ion-text>
                    <ion-text>
                        Media Coverage
                    </ion-text>
                    <ion-text>
                        Cities Real Estate
                    </ion-text>
                    <ion-text>
                        Glossary
                    </ion-text>
                </ion-row>
            </ion-row>
        </ion-row>

        <ion-row class="companyInfo">
            <ion-row class="aboutUs_section">
                <ion-text class="uppercase font-medium">
                    About US
                </ion-text>
                <ion-text class="text-sm">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui, officiis? Aliquid ad, nostrum quaerat
                    ratione at maxime aut vel deserunt mollitia animi voluptatibus asperiores laborum recusandae amet
                    natus repudiandae dolorum quae et.
                </ion-text>
            </ion-row>

            <ion-row class="contactCompany_section space-y-2">
                <ion-text class="uppercase font-medium !mb-4">
                    Contact with us
                </ion-text>
                <ion-text class="text-sm">
                    Write to us <br>
                    RETech@example.com
                </ion-text>
                <ion-text id="existingClient" class="text-sm">
                    Exitsting Client <br>
                    RECustomer@example.com
                </ion-text>
                <ion-text class="text-sm">
                    Call us on, <br>
                    1900 301 3555
                </ion-text>
            </ion-row>
        </ion-row>
    </ion-row>
</ion-grid>