<ion-header class="nav ion-no-border">
    <ion-grid class="nav_contents md:space-x-5">
        <ion-row class="logo_container">
            <ion-text class="web_logo">
                Logo
            </ion-text>
        </ion-row>

        <ion-row class="dropdownWrapper">
            <ion-row class="dropdowns space-x-4">
                <ion-row class="dropdown_main">
                    <ion-button class="dropBtn" (click)="toggleProjects()">
                        Projects
                        <fa-icon class="ml-2" icon="chevron-down"></fa-icon>
                    </ion-button>
                    <ion-row class="dropdown_contents" [ngClass]="{'!block': showProjects == true}">
                        <ul class="space-y-2">
                            <ion-text class="font-semibold text-sm">
                                Top Projects
                            </ion-text>
                            <li class="text-[12.5px]">New Projects In Mulund</li>
                            <li class="text-[12.5px]">Ready To Movie Projects In Mulund</li>
                            <li class="text-[12.5px]">Under Construction Projects In Mulund</li>
                        </ul>
                    </ion-row>
                </ion-row>

                <ion-row class="dropdown_main">
                    <ion-button class="dropBtn" (click)="toggleServices()">
                        More Services
                        <fa-icon class="ml-2" icon="chevron-down"></fa-icon>
                    </ion-button>
                    <ion-row class="dropdown_contents" [ngClass]="{'!block': showServices == true}">
                        <ul class="space-y-2">
                            <ion-text class="font-semibold text-sm">
                                Top Searchs
                            </ion-text>
                            <li class="text-[12.5px]">New Projects In Mulund</li>
                            <li class="text-[12.5px]">Ready To Movie Projects In Mulund</li>
                            <li class="text-[12.5px]">Under Construction Projects In Mulund</li>
                        </ul>
                    </ion-row>
                </ion-row>
            </ion-row>
        </ion-row>

        <ion-row class="md:!ml-auto">
            <ion-button class="referalBtn">
                Join the Referal Program
            </ion-button>
        </ion-row>
    </ion-grid>
</ion-header>


<!-- <ion-row class="dropdown">
    <ion-button class="dropBtn" (click)="toggleProjects()">
        Projects
        <svg xmlns="http://www.w3.org/2000/svg" width="12" class="fill-white ml-2"
            viewBox="0 0 448 512">
            <path
                d="M201.4 406.6c12.5 12.5 32.8 12.5 45.3 0l192-192c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L224 338.7 54.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l192 192z" />
        </svg>
    </ion-button>
    <ion-row class="dropdown-content" [ngClass]="{'block': showProjects == true}">
        <ul class="space-y-2">
            <ion-text class="font-semibold text-sm">
                Top Projects
            </ion-text>
            <li class="text-[12.5px]">New Projects In Mulund</li>
            <li class="text-[12.5px]">Ready To Movie Projects In Mulund</li>
            <li class="text-[12.5px]">Under Construction Projects In Mulund</li>
        </ul>
    </ion-row>
</ion-row> -->