<ion-header class="nav ion-no-border">
    <ion-grid class="nav_contents space-x-3 md:space-x-0">
        <ion-row class="hamburger-menu" (click)="toggleHamMenu()" [ngClass]="showHamMenu ? 'change' : 'null'">
            <ion-row class="hamburger-bar"></ion-row>
            <ion-row class="hamburger-bar"></ion-row>
            <ion-row class="hamburger-bar"></ion-row>
        </ion-row>
        <ion-row class="logo_container">
            <ion-text class="web_logo">
                Logo
            </ion-text>
        </ion-row>

        <ion-row class="dropdowns_section space-x-5">
            <ion-row class="userLocation">
                <ion-text>
                    Thane
                    <fa-icon icon="chevron-down"></fa-icon>
                </ion-text>
            </ion-row>

            <ion-row class="project_dropdown">
                <ion-text>
                    Projects
                    <fa-icon icon="chevron-down"></fa-icon>
                </ion-text>
            </ion-row>

            <ion-row class="services_dropdown">
                <ion-text>
                    More Services
                    <fa-icon icon="chevron-down"></fa-icon>
                </ion-text>
            </ion-row>

        </ion-row>

        <ion-row class="!ml-auto">
            <ion-button class="referalBtn">
                Login
            </ion-button>
        </ion-row>
    </ion-grid>
</ion-header>