<ion-header class="ion-no-border bg-black">
    <ion-row class="max-w-7xl lg:mx-auto px-3 py-1 justify-center">
        <ion-row class="flex items-center justify-between flex-nowrap text-sm w-full">
            <ion-row>
                <ion-text class="text-lg font-semibold text-white">
                    Logo
                </ion-text>
            </ion-row>
            <ion-row class="w-2/3">
                <ion-searchbar class="relative" search-icon="undefined" placeholder="Search By Location Or Pincode">
                    <fa-icon [icon]="['fas', 'location-arrow']" class="absolute h-4 w-4 z-10 left-3"></fa-icon>
                </ion-searchbar>
            </ion-row>
            <ion-row class="text-white">
                <ion-text>
                    Thane
                    <fa-icon [icon]="['fas','chevron-down']"></fa-icon>
                </ion-text>
            </ion-row>
        </ion-row>
    </ion-row>
</ion-header>