<ion-header class="fixed top-0 bg-white z-10">
    <ion-grid class="flex items-center p-5 justify-between">
        <ion-row class="flex items-center flex-nowrap space-x-3">
            <fa-icon 
                class="bg-[#eee] rounded-full text-lg w-7 h-7 flex items-center justify-center"
                icon="arrow-left"
                routerLink="/"
                >
            </fa-icon>
            <ion-row class="flex flex-col items-center justify-center">
                <ion-text class="font-semibold w-full block">
                    Lodha Acenza
                </ion-text>
                <ion-text class="text-xs w-full block">
                    <fa-icon [icon]="['fas', 'map-marker-alt']"></fa-icon>
                    Andheri East, Mumbai
                </ion-text>
            </ion-row>
        </ion-row>

        <ion-row class="flex items-center justify-center text-lg space-x-3">
            <fa-icon class="bg-[#eee] h-9 w-9 rounded-full flex items-center justify-center"
                [icon]="['fas', 'phone-alt']"></fa-icon>
            <fa-icon class="text-[26px] h-9 w-9 bg-[#25D366] text-white rounded-full flex items-center justify-center"
                [icon]="['fab', 'whatsapp']"></fa-icon>
            <fa-icon class="" [icon]="['fas', 'ellipsis-v']"></fa-icon>
        </ion-row>
    </ion-grid>
</ion-header>