<ion-grid class="banner_wrapper">
    <ion-row class="max-w-7xl p-5 mx-auto !pt-56 md:pt-40 space-y-2 flex justify-start">
        <ion-row class="space-y-2 md:flex-col md:max-w-md">
            <ion-text class="text-2xl font-semibold text-black md:text-5xl md:font-extrabold">
                Find Real Estate <br class="hidden md:block"> That Suits You
            </ion-text>
            <ion-text class="hidden md:block">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tempora soluta in ullam iusto, incidunt quae
                nostrum a commodi.
            </ion-text>
        </ion-row>

        <Search class="md:hidden"></Search>

    </ion-row>
</ion-grid>