.banner_wrapper {
    background-image: url('../../../assets/images/bannerImage4.jpg');
    height: 45rem;
    width: 100%;
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
}

.banner_contents {
    max-width: 80rem;
    padding: 1.25rem;
    padding-top: 15rem;
    margin: 0 auto;

    display: flex;
    /* flex-direction: row; */
    justify-content: start;
    align-items: center;
}

.banner_texts {
    flex-direction: column;
}

.banner_quote {
    font-size: 3rem;
    font-weight: 800;
    padding-bottom: 0.3rem;
}

.banner_summary {
    max-width: 29rem;
}