<ion-grid class="mx-5">
    <ion-row class="max-w-7xl mx-auto space-y-4 lg:flex-nowrap lg:space-x-5 lg:space-y-0">
        <ion-row class="lg:w-2/3">
            <ion-row class="space-y-5 lg:space-y-0 lg:space-x-5 mb-5">
                <ion-row class="text-sm p-2 w-full lg:w-auto rounded-lg border border-slate-300 bg-[#eee]">
                    <ion-text class="font-semibold w-full">Proppy Buddy RERA Reg.</ion-text>
                    <ion-text
                        class="w-full">{{projectData.projects[0].projectOverview[0].propybuddyRegNumber}}</ion-text>
                </ion-row>
                <ion-row class="text-sm p-2 w-full lg:w-auto rounded-lg border border-slate-300 bg-[#eee]">
                    <ion-text class="font-semibold w-full">Proppy Buddy RERA Reg.</ion-text>
                    <ion-text class="w-full">{{projectData.projects[0].projectOverview[1].projectRegArea}}</ion-text>
                </ion-row>
            </ion-row>

            <ion-row class="space-y-5">
                <ion-row class="w-full">
                    <ion-text class="projectDetailHeading">
                        {{projectData.projects[0].projectName}} -
                        Project Info
                    </ion-text>
                    <ion-text class="projectDetailBody">
                        {{projectData.projects[0].projectOverview[2].projectOverviewPara}}
                    </ion-text>
                </ion-row>

                <ion-row class="w-full">
                    <ion-text class="projectDetailHeading">
                        {{projectData.projects[0].projectName}} -
                        Price List
                    </ion-text>
                    <ion-row class="projectDetailBody">
                        <ion-row
                            class="grid grid-cols-3 gap-y-3 lg:gap-y-5 border-2 border-white text-sm text-center w-full">
                            <ion-text>{{projectData.projects[0].projectPriceList[0].projectUnitTypes[0].projectPriceListTitle}}</ion-text>
                            <ion-text>{{projectData.projects[0].projectPriceList[0].projectArea[0].projectPriceListTitle}}</ion-text>
                            <ion-text>{{projectData.projects[0].projectPriceList[0].projectHomePrice[0].projectPriceListTitle}}</ion-text>

                            <ion-row class="contents">
                                <ion-text>
                                    {{projectData.projects[0].projectPriceList[0].projectUnitTypes[0].projectUnitType_One[0].projectUnit_BHK}}
                                    {{projectData.projects[0].projectPriceList[0].projectUnitTypes[0].projectUnitType_One[0].projectUnit_Area}}
                                    Sq. Ft Apartment
                                </ion-text>
                                <ion-text>
                                    {{projectData.projects[0].projectPriceList[0].projectArea[0].projectAreaType_One[0].projectArea}}
                                    Sq. Ft
                                    {{projectData.projects[0].projectPriceList[0].projectArea[0].projectAreaType_One[0].projectAreaMeasureUnit}}
                                </ion-text>
                                <ion-text>
                                    ₹
                                    {{projectData.projects[0].projectPriceList[0].projectHomePrice[1].projectUnitPricing_One}}
                                    Cr
                                </ion-text>
                            </ion-row>

                            <ion-row class="contents">
                                <ion-text>
                                    {{projectData.projects[0].projectPriceList[0].projectUnitTypes[0].projectUnitType_Two[0].projectUnit_BHK}}
                                    {{projectData.projects[0].projectPriceList[0].projectUnitTypes[0].projectUnitType_Two[0].projectUnit_Area}}
                                    Sq. Ft Apartment
                                </ion-text>
                                <ion-text>
                                    {{projectData.projects[0].projectPriceList[0].projectArea[0].projectAreaType_Two[0].projectArea}}
                                    Sq. Ft
                                    {{projectData.projects[0].projectPriceList[0].projectArea[0].projectAreaType_Two[0].projectAreaMeasureUnit}}
                                </ion-text>
                                <ion-text>
                                    ₹
                                    {{projectData.projects[0].projectPriceList[0].projectHomePrice[1].projectUnitPricing_Two}}
                                    Cr
                                </ion-text>
                            </ion-row>

                            <ion-row class="contents">
                                <ion-text>
                                    {{projectData.projects[0].projectPriceList[0].projectUnitTypes[0].projectUnitType_Three[0].projectUnit_BHK}}
                                    {{projectData.projects[0].projectPriceList[0].projectUnitTypes[0].projectUnitType_Three[0].projectUnit_Area}}
                                    Sq. Ft Apartment
                                </ion-text>
                                <ion-text>
                                    {{projectData.projects[0].projectPriceList[0].projectArea[0].projectAreaType_Three[0].projectArea}}
                                    Sq. Ft
                                    {{projectData.projects[0].projectPriceList[0].projectArea[0].projectAreaType_Three[0].projectAreaMeasureUnit}}
                                </ion-text>
                                <ion-text>
                                    ₹
                                    {{projectData.projects[0].projectPriceList[0].projectHomePrice[1].projectUnitPricing_Three}}
                                    Cr
                                </ion-text>
                            </ion-row>
                        </ion-row>
                    </ion-row>
                </ion-row>

                <ion-row class="w-full">
                    <ion-text class="projectDetailHeading">
                        {{projectData.projects[0].projectName}} -
                        Floor Plans
                    </ion-text>
                    <ion-text class="projectDetailBody">
                        {{projectData.projects[0].projectFloorPlans[0].floorPlanDescription}}
                    </ion-text>
                </ion-row>

                <ion-row class="w-full">
                    <ion-text class="projectDetailHeading">
                        {{projectData.projects[0].projectName}} -
                        Broucher
                    </ion-text>
                    <ion-text class="projectDetailBody">
                        <!-- {{projectData.projects[0].projectFloorPlans[0].floorPlanDescription}} -->
                    </ion-text>
                </ion-row>

                <ion-row class="w-full">
                    <ion-text class="projectDetailHeading">
                        {{projectData.projects[0].projectName}} -
                        Video
                    </ion-text>
                    <ion-text class="projectDetailBody">
                        <!-- {{projectData.projects[0].projectFloorPlans[0].floorPlanDescription}} -->
                    </ion-text>
                </ion-row>

                <ion-row class="w-full">
                    <ion-text class="projectDetailHeading">
                        {{projectData.projects[0].projectName}} -
                        Amenities
                    </ion-text>
                    <ion-row class="bg-[#eee]">
                        <ion-text class="projectDetailBody">
                            {{projectData.projects[0].projectAmenities[0].amenitiesSummary}}
                        </ion-text>
                        <ion-row class="text-sm py-3 px-4 lg:px-3 w-full">
                            <ion-text class="font-semibold min-w-[8rem] lg:min-w-[15rem]">
                                {{projectData.projects[0].projectAmenities[1].amenitieNameAndTypes[0].amenitieName}}
                            </ion-text>
                            <ion-row class="flex flex-col space-y-2 lg:max-h-[10rem] lg:min-w-[20rem]">
                                <ion-text
                                    *ngFor="let sports of projectData.projects[0].projectAmenities[1].amenitieNameAndTypes[0].amenitieList">
                                    {{sports}}
                                </ion-text>
                            </ion-row>
                        </ion-row>

                        <ion-row class="text-sm py-3 px-4 lg:px-3 w-full">
                            <ion-text class="font-semibold min-w-[8rem] lg:min-w-[15rem]">
                                {{projectData.projects[0].projectAmenities[1].amenitieNameAndTypes[1].amenitieName}}
                            </ion-text>
                            <ion-row class="flex flex-col space-y-2 lg:max-h-[10rem] lg:min-w-[20rem]">
                                <ion-text
                                    *ngFor="let sports of projectData.projects[0].projectAmenities[1].amenitieNameAndTypes[1].amenitieList">
                                    {{sports}}
                                </ion-text>
                            </ion-row>
                        </ion-row>

                        <ion-row class="text-sm py-3 px-4 lg:px-3 w-full">
                            <ion-text class="font-semibold min-w-[8rem] lg:min-w-[15rem]">
                                {{projectData.projects[0].projectAmenities[1].amenitieNameAndTypes[2].amenitieName}}
                            </ion-text>
                            <ion-row class="flex flex-col space-y-2 lg:max-h-[10rem] lg:min-w-[20rem]">
                                <ion-text
                                    *ngFor="let sports of projectData.projects[0].projectAmenities[1].amenitieNameAndTypes[2].amenitieList">
                                    {{sports}}
                                </ion-text>
                            </ion-row>
                        </ion-row>

                        <ion-row class="text-sm py-3 px-4 lg:px-3 w-full">
                            <ion-text class="font-semibold min-w-[8rem] lg:min-w-[15rem]">
                                {{projectData.projects[0].projectAmenities[1].amenitieNameAndTypes[3].amenitieName}}
                            </ion-text>
                            <ion-row class="flex flex-col space-y-2 lg:max-h-[10rem] max-w lg:min-w-[20rem]">
                                <ion-text
                                    *ngFor="let sports of projectData.projects[0].projectAmenities[1].amenitieNameAndTypes[3].amenitieList">
                                    {{sports}}
                                </ion-text>
                            </ion-row>
                        </ion-row>

                        <ion-row class="text-sm py-3 px-4 lg:px-3 w-full">
                            <ion-text class="font-semibold min-w-[8rem] lg:min-w-[15rem]">
                                {{projectData.projects[0].projectAmenities[1].amenitieNameAndTypes[4].amenitieName}}
                            </ion-text>
                            <ion-row class="flex flex-col space-y-2 lg:max-h-[10rem] lg:min-w-[20rem]">
                                <ion-text
                                    *ngFor="let sports of projectData.projects[0].projectAmenities[1].amenitieNameAndTypes[4].amenitieList">
                                    {{sports}}
                                </ion-text>
                            </ion-row>
                        </ion-row>
                    </ion-row>
                </ion-row>

                <ion-row class="w-full bg-[#eee] divide-y-2 divide-white">
                    <ion-text class="projectDetailHeading">
                        {{projectData.projects[0].projectName}} -
                        Specification
                    </ion-text>
                    <ion-text class="projectDetailBody">
                        {{projectData.projects[0].projectSpecifications[0].specificationSummary}}
                    </ion-text>
                    <ion-row class="grid grid-cols-2 gap-y-4 px-4 text-[13.5px] py-4 w-full">
                        <ion-row class="contents">
                            <ion-text
                                class="font-semibold max-w-[8rem]">{{projectData.projects[0].projectSpecifications[1].roomNamesAndSpecification[0].roomNameAndSide}}</ion-text>
                            <ion-text>{{projectData.projects[0].projectSpecifications[1].roomNamesAndSpecification[0].roomSpecification}}</ion-text>
                        </ion-row>

                        <ion-row class="contents">
                            <ion-text
                                class="font-semibold max-w-[8rem]">{{projectData.projects[0].projectSpecifications[1].roomNamesAndSpecification[1].roomNameAndSide}}</ion-text>
                            <ion-text>{{projectData.projects[0].projectSpecifications[1].roomNamesAndSpecification[1].roomSpecification}}</ion-text>
                        </ion-row>

                        <ion-row class="contents">
                            <ion-text
                                class="font-semibold max-w-[8rem]">{{projectData.projects[0].projectSpecifications[1].roomNamesAndSpecification[2].roomNameAndSide}}</ion-text>
                            <ion-text>{{projectData.projects[0].projectSpecifications[1].roomNamesAndSpecification[2].roomSpecification}}</ion-text>
                        </ion-row>

                        <ion-row class="contents">
                            <ion-text
                                class="font-semibold max-w-[8rem]">{{projectData.projects[0].projectSpecifications[1].roomNamesAndSpecification[3].roomNameAndSide}}</ion-text>
                            <ion-text>{{projectData.projects[0].projectSpecifications[1].roomNamesAndSpecification[3].roomSpecification}}</ion-text>
                        </ion-row>

                        <ion-row class="contents">
                            <ion-text
                                class="font-semibold max-w-[8rem]">{{projectData.projects[0].projectSpecifications[1].roomNamesAndSpecification[4].roomNameAndSide}}</ion-text>
                            <ion-text>{{projectData.projects[0].projectSpecifications[1].roomNamesAndSpecification[4].roomSpecification}}</ion-text>
                        </ion-row>

                        <ion-row class="contents">
                            <ion-text
                                class="font-semibold max-w-[8rem]">{{projectData.projects[0].projectSpecifications[1].roomNamesAndSpecification[5].roomNameAndSide}}</ion-text>
                            <ion-text>{{projectData.projects[0].projectSpecifications[1].roomNamesAndSpecification[5].roomSpecification}}</ion-text>
                        </ion-row>

                        <ion-row class="contents">
                            <ion-text
                                class="font-semibold max-w-[8rem]">{{projectData.projects[0].projectSpecifications[1].roomNamesAndSpecification[6].roomNameAndSide}}</ion-text>
                            <ion-text>{{projectData.projects[0].projectSpecifications[1].roomNamesAndSpecification[6].roomSpecification}}</ion-text>
                        </ion-row>

                        <ion-row class="contents">
                            <ion-text
                                class="font-semibold max-w-[8rem]">{{projectData.projects[0].projectSpecifications[1].roomNamesAndSpecification[7].roomNameAndSide}}</ion-text>
                            <ion-text>{{projectData.projects[0].projectSpecifications[1].roomNamesAndSpecification[7].roomSpecification}}</ion-text>
                        </ion-row>

                        <ion-row class="contents">
                            <ion-text
                                class="font-semibold max-w-[8rem]">{{projectData.projects[0].projectSpecifications[1].roomNamesAndSpecification[8].roomNameAndSide}}</ion-text>
                            <ion-text>{{projectData.projects[0].projectSpecifications[1].roomNamesAndSpecification[8].roomSpecification}}</ion-text>
                        </ion-row>
                    </ion-row>
                </ion-row>
            </ion-row>

        </ion-row>

        <ion-row class="sticky top-12 h-fit">
            <DetailsForm></DetailsForm>
        </ion-row>

        <!-- <ion-row id="floatingForm" class="hidden lg:flex sticky top-12 h-fit">
            <ion-row class="bg-[#eee] py-2 px-5 flex-col rounded-lg">
                <ion-row class="items-center space-x-3">
                    <fa-icon [icon]="['fas', 'phone-alt']"
                        class="flex items-center justify-center border-2 rounded-full border-black h-7 w-7"></fa-icon>
                    <ion-text class="font-semibold">Contact our Real Estate Experts</ion-text>
                </ion-row>
                <ion-row class="p-4 my-2 shadow-lg border-2 border-white rounded-lg flex-col space-y-3">
                    <ion-input placeholder="Name" class="reqDetailInputs"></ion-input>
                    <ion-input placeholder="Phone Number" class="reqDetailInputs"></ion-input>
                    <ion-button class="reqDetailBtn">
                        Request Details
                    </ion-button>
                </ion-row>
            </ion-row>
        </ion-row> -->
    </ion-row>
</ion-grid>