.hero_contents {
    display: flex;
    justify-content: center;

    max-width: 80rem;
    /* padding: 1.25rem; */
    padding-bottom: 0;
}

.searchBar_wrapper {
    background-color: #fff;
    border-radius: 0.5rem;
    padding: 1.25rem;
    width: 21.05rem;

    display: flex;
    align-items: center;
    justify-content: center;
}

.searchBarTxt {
    font-size: 1.125rem;
    font-weight: 600;

    padding-bottom: 1.25rem;
}

.searchBar {
    --background: #fff;
    --box-shadow: none;
    border: solid 1px #d6d6d6;
    border-radius: 0.5rem;

    width: 100%;
    position: relative;
    --padding: 0px !important;

    display: flex;
    align-items: center;
}

.sc-ion-searchbar-md-h {
    padding: 0px !important;
}

.searchOption_dropdowns {
    display: none;
}

.searchBtn {
    display: none;
}

@media (min-width: 768px) {
    .searchBarTxt {
        font-size: 1.5rem;
        /* 24px */
        line-height: 2rem;
        /* 32px */
        font-weight: 500;
        width: 100%;

        padding-bottom: 1rem !important;
        padding: 0;
    }

    .hero_contents {
        margin: 0 auto;
        margin-top: -4rem;
    }

    .searchBar {
        width: 100%;

        position: relative;
    }

    .searchOption_dropdowns {
        display: flex;
        position: absolute;
        right: 0;
        z-index: 1;
    }

    .searchBar_wrapper {
        width: 100%;
        background: #eee;

        flex-direction: column;
    }

    .searchBtn {
        --background: black;

        width: 10rem;
        height: 3rem;
        margin-left: .6rem;
        display: flex;
    }
}