<ion-grid class="hero_wrapper">
    <ion-row class="hero_contents">
        <ion-row class="searchBar_wrapper">

            <ion-row class="md:w-full">
                <ion-text class="searchBarTxt">
                    Search The Estate Suits You
                </ion-text>
            </ion-row>

            <ion-row id="searchBar_container" class="items-center md:space-x-4 md:w-full flex-nowrap">
                <ion-searchbar class="searchBar">
                    <ion-row class="searchOption_dropdowns space-x-4 mr-4">
                        <ion-text>
                            Budget
                            <fa-icon icon="chevron-down"></fa-icon>
                        </ion-text>

                        <ion-text>
                            Type
                            <fa-icon icon="chevron-down"></fa-icon>
                        </ion-text>
                    </ion-row>
                </ion-searchbar>

                <ion-button class="searchBtn">
                    Search Now
                </ion-button>
            </ion-row>

        </ion-row>
    </ion-row>
</ion-grid>