<ion-grid class="hero_wrapper">
    <ion-row class="hero_contents">
        <ion-row class="searchBar_wrapper">
            <ion-text class="searchBarTxt">
                Search The Estate Suits You
            </ion-text>

            <ion-row id="searchBars_container" class="items-center md:space-x-4">
                <ion-searchbar class="searchBar" searchIcon=“undefined” placeholder="Location">
                    <fa-icon class="custonSearchIcon" icon="location-arrow"></fa-icon>
                </ion-searchbar>

                <ion-searchbar class="searchBar" searchIcon=“undefined” placeholder="Type">
                    <fa-icon class="custonSearchIcon" icon="home"></fa-icon>
                </ion-searchbar>

                <ion-searchbar class="searchBar" searchIcon=“undefined” placeholder="Budget">
                    <fa-icon class="custonSearchIcon" icon="rupee-sign"></fa-icon>
                </ion-searchbar>

                <ion-button class="searchBtn">
                    Search Now
                </ion-button>
            </ion-row>

        </ion-row>
    </ion-row>
</ion-grid>