/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import '~swiper/scss';
@import '~@ionic/angular/css/ionic-swiper';
@import '~swiper/scss/autoplay';
@import '~swiper/scss/keyboard';
@import '~swiper/scss/pagination';
@import '~swiper/scss/scrollbar';
@import '~swiper/scss/zoom';
@import '~@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '~@fortawesome/fontawesome-free/scss/solid.scss';
@import '~@fortawesome/fontawesome-free/scss/regular.scss';
@import '~@fortawesome/fontawesome-free/scss/brands.scss';

@import '~mdb-angular-ui-kit/assets/scss/mdb.scss';


* {
    margin: 0;
    padding: 0;
}

.searchbar-input.sc-ion-searchbar-md {
    border-radius: 0.5rem;
    background-color: #f3f4f6;
    padding: 2px 0px 2px 1.5rem;
}

@layer components {

    .projectDetailHeading {
        @apply bg-black p-4 w-full text-white rounded-t-lg
    }

    .projectDetailBody {
        @apply p-4 bg-[#eee] rounded-b-lg w-full
    }

    .reqDetailInputs {
        @apply bg-white border border-slate-300 rounded-lg
    }
}